<p>Dear {{customerName}},</p>
<p>We regret to inform you that your order with
  {{companyName}}, identified by order number
  {{orderNumber}}, has been canceled. We apologize for any inconvenience this
  may have caused. The details of the canceled order are as follows:</p>
<p>Order Number:
  {{orderNumber}}<br />
  Order Date:
  {{orderDate}}<br />
  Order Total:
  {{totalPrice}}</p>
<p>Please note that you will not be charged for the canceled order. If you have
  already made a payment, a refund will be initiated, and the funds will be
  returned to your original payment method within 7 business days.
</p>
<p>If you have any questions or concerns regarding the cancellation or any other
  matter, please feel free to reach out to our customer support team at
  {{supportEmail}}. Our team will be happy to assist you.</p>
<p>
  We apologize once again for any inconvenience caused. We appreciate your
  understanding and hope to serve you better in the future.
</p>
<p>
  Thank you for your cooperation.
</p>
<p>
  Sincerely,<br />
  {{customerName}}<br />
  {{companyName}}
</p>